<body style="background-color:aliceblue; align-items: center;">
    <script src="javascript/signup.js"></script>
    <div class="card" style="margin-top: 10px; width: 400px;">
        <form id="signup" [formGroup]="signup" name="signup" method="POST" (ngSubmit)="register()">
            <img src="assets/images/logo.png" alt="SBook" style="height: 40px;"> <br>
            <label
                style="text-align: center; font-size:xx-large; font-family:Georgia, 'Times New Roman', Times, serif;">User
                SignUP</label>
            <table style="text-align: right; margin-right: 10px;">
                <tr>
                    <td><label>First Name : </label></td>
                    <td><input type="text" placeholder="Enter First name" onchange="checkFname()" id="fname" formControlName="fname" name="fname"></td>
                </tr>
                <tr id="fname-tr" style="color: red;display: none;">
                    <td colspan="2" align="right">first name required*</td>
                </tr>
                <tr id="fname-tr1" style="color: red;display: none;">
                    <td colspan="2" align="right">name must be alphabetical*</td>
                </tr>
                <tr>
                    <td><label>Last Name : </label></td>
                    <td><input type="text" placeholder="Enter Last name" onfocus="checkFname()" onchange="checkLname()" id="lname"
                           formControlName="lname" name="lname"></td>
                </tr>
                <tr id="lname-tr" style="color: red;display: none;">
                    <td colspan="2" align="right">last name required*</td>
                </tr>
                <tr id="lname-tr1" style="color: red;display: none;">
                    <td colspan="2" align="right">name must be alphabetical*</td>
                </tr>
                <tr>
                    <td><label>Email ID : </label></td>
                    <td><input type="email" placeholder="Enter Email id" onfocus="checkLname()" onchange="checkEmail()" id="email"
                           formControlName="email" name="email"></td>
                </tr>
                <tr id="email-tr" style="color: red;display: none;">
                    <td colspan="2" align="right">email id required*</td>
                </tr>
                <tr id="email-tr1" style="color: red;display: none;">
                    <td colspan="2" align="right">Enter valid email id*</td>
                </tr>
                <tr>
                    <td><label>Password : </label></td>
                    <td><input id="pass" formControlName="password" name="pass" placeholder="Enter password" onfocus="checkEmail()"
                            onchange="checkPass()" type="password"></td>
                </tr>
                <tr id="pass-tr" style="color: red;display: none;">
                    <td colspan="2" align="right">password required*</td>
                </tr>
                <tr id="pass-tr1" style="color: red;display: none;">
                    <td colspan="2" align="right">password must be alphanumeric(8-16 char)*</td>
                </tr>
                <tr>
                    <td><label>Confirm Password : </label></td>
                    <td><input id="cpass" name="cpass" placeholder="Confirm password" onfocus="checkPass()"
                            onchange="checkCPass()" type="password"></td>
                </tr>
                <tr id="cpass-tr" style="color: red;display: none;">
                    <td colspan="2" align="right">password does not match*</td>
                </tr>
                <tr>
                    <td><label>Gender : </label></td>
                    <td align="left"><input type="radio" onfocus="checkCPass()" formControlName="gender" id="male" name="gender" value="Male"
                            checked>Male<input type="radio" onfocus="checkCPass()" formControlName="gender" id="female" name="gender" value="Female">Female
                    </td>
                </tr>
                <tr>
                    <td><label>Birthdate : </label></td>
                    <td><input type="date" onfocus="checkCPass()" id="dob" formControlName="dob" name="dob"></td>
                </tr>
                <tr id="dob-tr" style="color: red;display: none;">
                    <td colspan="2" align="right">birthdate required*</td>
                </tr>
                <tr>
                    <td><label>Profile photo : </label></td>
                    <td><input type="file" name="profilepic" accept="image/*" id="profilepic" (change)="handleFileInput($event.target.files)"></td>
                </tr>
                <tr id="profile-tr" style="color: red;display: none;">
                    <td colspan="2" align="right">Select a Profile photo*</td>
                </tr>
                <tr>
                    <td><input type="submit" class="button1" onclick="return validate()" value="SignUP!" style="background-color: cornflowerblue;">
                    </td>
                    <td><input type="reset" class="button1" value="Cancel" style="background-color: cornflowerblue;">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left"><a routerLink="/login">Already Member?</a></td>
                </tr>
            </table>
        </form>
    </div>
</body>