<div class="header sticky">
    <img src="assets/images/logo.png" id="logo" alt="SBook" style="height: 40px;">
    <div class="header-right">
        <a id="feed" routerLink="/home" routerLinkActive="active">Feed</a>
        <a id="friends" routerLink="/friends" routerLinkActive="active">Friends</a>
        <a id="profile" routerLink="/profile" routerLinkActive="active">Profile</a>
        <a id="messagebox" routerLink="/messagebox" routerLinkActive="active">MessageBox</a>
        <a routerLink="/login">Logout</a>
    </div>
</div>